.octo {
  margin: auto;
  position: absolute;
  top: 60px;
  z-index: -1;
}
.glasses {
  position: absolute;
  margin: auto;
  left: 50px;
  top: 160px;
  z-index: 1;
}
.hat {
  position: absolute;
  margin: auto;
  z-index: 1;
}